@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

$main-color: #8592a3;
$background-color: #7a7a8f20;
$pre-main-color: #6b7684;
$help-color: #f1f8fed4;
$black-color: black;

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: $help-color;
}

::-webkit-scrollbar-thumb {
	transition: 1s ease-out;
	background-color: $pre-main-color;
}

::-webkit-scrollbar-thumb:active {
	transition: 1s ease-out;
	background-color: $main-color;
}

.header {
	width: 100%;
	height: 100px;
	position: relative;
	overflow: hidden;
	& canvas {
		position: absolute;
		top: 0;
		width: 100vw;
		height: 100vh;
		z-index: -2;
	}
	&__container {
		width: 80%;
		height: 100%;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		height: 90%;
		position: relative;
		right: -20px;
		border-radius: 10px;
		object-position: left;
		background-color: none;
		mix-blend-mode: difference;
		user-select: none;
	}
	& a {
		z-index: 100;
	}
	&__text {
		user-select: none;
		color: $pre-main-color;
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		font-weight: 700;
		z-index: 2;
		width: 90%;
		transform: translateX(-10%);
		height: 30px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.1s linear;
		&:hover {
			color: $main-color;
		}
	}
}

.base {
	text-align: center;
	font-family: sans-serif;
	color: rgba(115, 85, 115, 1);
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
	user-select: none;
}

.about {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	&__info {
		width: 97%;
		height: 85%;
		border-radius: 10px;
		background-color: rgb(222, 237, 250);
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgb(122, 137, 150);
		font-size: 26px;
		font-weight: 500;
		font-family: sans-serif;
		user-select: none;
		text-decoration: none;
	}
}

.tasks {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__container {
		user-select: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;
		width: 98%;
		margin: 20px 0;
	}
	&__task {
		border-radius: 20px;
		padding: 40px 30px;
		min-height: 100px;
		background-color: $pre-main-color;
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 600;
		font-family: sans-serif;
		color: $help-color;
		cursor: pointer;
		width: 25%;
		word-break:normal;
		transition: 0.2s linear;
		&:hover {
			opacity: 0.9;
		}
	}
	& p {
		width: 90%;
	}
	& a {
		text-decoration: none;
	}
	&__paragraph {
		font-size: 24px;
		color: $black-color;
		text-align: center;
	}
}

.description {
	user-select: none;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__num {
		font-family: sans-serif;
		font-size: 18px;
		font-weight: 700;
		margin: 25px 0;
		display: flex;
		align-items: center;
		user-select: none;
	}
	& a {
		display: flex;
		align-items: center;
	}
	&__str1 {
		width: 15px;
		margin-right: 25px;
		transform: rotate(180deg);
		cursor: pointer;
	}
	&__str2 {
		width: 15px;
		margin-left: 25px;
		cursor: pointer;
	}
	&__show {
		width: 90%;
		height: 600px;
		display: flex;
		position: relative;
		justify-content: space-between;
		border-radius: 10px;
	}
	&__img {
		background-color: $help-color;
		height: calc(100% + 1px);
		width: 20%;
		z-index: 1;
		transform: translateY(-0.5px);
		transition: 0.4s linear;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		object-fit: scale-down;
		cursor: pointer;
	}
	&__video {
		border-bottom-right-radius: 10px;
		border-top-right-radius: 10px;
		width: 80%;
		height: 100%;
		position: absolute;
		right: 0;
		background-color: black;
	}
	&__video * {
		width: 100%;
		height: 100%;
	}
	&__links {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 90%;
		height: 80px;
		display: flex;
		gap: 10px;
	}
	&__links * {
		user-select: none;
		transition: 0.5s ease-out;
		height: 100%;
		width: 50%;
		display: flex;
		align-items: center;
		cursor: pointer;
		justify-content: center;
		text-decoration: none;
		background-color: $pre-main-color;
		color: $help-color;
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		font-weight: 500;
		border: 1px solid;
		border-radius: 10px;
	}
	&__links a {
		text-decoration: none;
	}
	&__links *:hover {
		background-color: $main-color;
		
	}
	&__html div, &__html div {
		width: 100%;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
}

.code {
	margin: 5vh 0;
	font-weight: 600;
	display: flex;
	justify-content: center;
	font-family: 'Inter', sans-serif;
	
	&__out {
		width: 90%;
	}
	&__nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 15px;
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		text-align: left;
		background-color: $pre-main-color;
		color: $help-color;
	}

	&__container {
		display: flex;
		overflow: auto;
		background-color: $help-color;
		width: 100%;
		height: 70vh;
		
	}

	&__col {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $black-color;
		height: 20px;
		width: 20px;
	}

	&__pre {
		line-height: 18px;
		font-size: 15px;
		
	}

	&__style {
		user-select: none;
		color: $pre-main-color;
		text-align: center;
		font-weight: 100;
		z-index: 1;
		width: 30px;
		min-height: calc(100vh - 100px);
		& div {
			height: 18px;
		}
		& p {
			font-size: 14px;
			font-weight: 600;
		}
	}
}

.nav {
	color: $help-color;
	height: 100%;
	width: 140px;
	user-select: none;
	justify-content: space-between;
	display: flex;
	align-items: center;
	border-radius: 2px;
	z-index: 3;
	padding: 5px;
	& p {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: sans-serif;
		font-size: 16px;
		font-weight: 600;
	}

	&__back {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		cursor: pointer;
	}

	&__block {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		& a {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__solution {
		text-align: center;
		font-family: sans-serif;
		font-size: 18px;
		color: $help-color;
		width: 160px;
		height: 30px;
		background-color: $pre-main-color;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 2px;
		user-select: none;
		cursor: pointer;
		z-index: 4;
		text-decoration: none;
	}
}

.smth {
	position: fixed;
	width: 30px;
	height: 10px;
	background-color: rgba(200, 200, 200, 0.9);
	bottom: 0;
}

.nine {
	margin: 45px auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&999 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 90%;
		font-family: sans-serif;
		font-size: 16px;
	}

	&999 > div {
		display: flex;
		justify-content: left;
	}

	&999 p:first-child {
		border: 1px solid black;
		border-radius: 2px;
		width: 20%;
		padding: 10px;
	}

	&999 p:last-child {
		border: 1px solid black;
		border-radius: 2px;
		width: 80%;
		padding: 10px;
	}
}

.prof {
	width: 97%;
	height: 140px;
	border-radius: 10px;
	background-color: rgb(110, 100, 120);
	color: rgb(150, 140, 170);
	user-select: center;
	cursor: pointer;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-decoration: none;
}

.markers {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__text {
		width: 100%;
		height: 90px;
		display: flex;
		justify-content: center;
		user-select: none;
		align-items: center;
		font-family: sans-serif;
		font-size: 24px;
		font-weight: 600;
	}

	& img {
		width: 49%;
	}
}

.back {
	cursor: pointer;
	position: fixed;
	border-radius: 10px;
	width: 35px;
	height: 35px;
	left: 1%;
	top: 117px;
}

.slider {
	width: 89%;
	margin: 30px auto 0;
	height: 290px;
	font-family: sans-serif;
	position: relative;
	.slick-prev:before, .slick-next:before {
		color: $pre-main-color;
	}
	&__container {
		display: flex !important;
		align-items: center;
		justify-content: center;
		gap: 20px;
		height: 240px;
	}
	&__qr {
		position: relative;
		left: 0;
	}
	&__background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: $background-color;
		z-index: 1;
	}
	&__in {
		display: none;
	}
	&__to {
		z-index: 1;
		cursor: zoom-in;
		position: absolute;
		left: 0;
		width: 20px;
		height: 20px;
		background-color: black;
		transition: 0.2s linear;
		&:hover {
			opacity: 0.8;
		}
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__back {
		user-select: none;
		cursor: pointer;
		position: fixed;
		top: 20px;
		right: 20px;
		height: 30px;
		width: 30px;
		object-fit: cover;
		z-index: 1;
	}
	&__none {
		display: none;
	}
	&__code {
		z-index: 2;
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: black;
		display: none;
	}
	&__active {
		display: block;
		width: 270px;
		height: 270px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		width: 30%;
		font-size: 24px;
		font-weight: 700;
	}
	&__img {
		height: 270px;
		width: 270px;
	}
	&__desc {
		font-size: 16px;
		font-weight: 500;
		width: calc(80% - 120px);
	}
}

@media (max-width: 967px) {
	.markers__text {
		justify-content: right;
	}
	.description {
		&__show {
			display: block;
			height: 600px;
			outline: none;
			border-radius: 10px;
			overflow: hidden;
			z-index: 2;
		}
		&__img {
			border: 2px solid rgba(65, 65, 65, 0.9);
			outline: none;
			margin-bottom: 10px;
			width: 300px !important;
			margin-left: 50%;
			transform: translateX(-50%);
			border-radius: 10px;
			height: 50%;
			cursor: inherit;
		}
		&__video {
			width: 100%;
			height: 50%;
			border-radius: 10px;
		}
		&__video * {
			border-radius: 10px;
			overflow-x: hidden;
		}
		&__links {
			margin-top: 30px;
			margin-bottom: 20px;
			width: 90%;
			height: 80px;
			border-radius: 11px;
			display: flex;
		}
	}
}
